install.dir=/opt/iMC
data.dir=/var/lib/mysql
db.type=MySQL
db.adminusername={{ dbuser }}
db.adminpwd={{ dbpassword }}
db.port=3306
install.locale=en_NZ
deploy.components=iMC-PLAT,iMC-EUPLAT,iMC-GAM,iMC-ACLM,iMC-DM,iMC-SEPLAT,iMC-REPORT,iMC-ICC,iMC-SCC,iMC-VNM,iMC-SYSLOG,iMC-NME-FAULT,iMC-NETASSET,iMC-VLAN,iMC-NME-PERF,iMC-VXLAN
http.port=80
https.port=443
